{% extends "base.html" %}
{% load static %}


{% block css %}
    <link href= "{% static 'css/editor.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content-app">

        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
       <!-- end of header -->

    <div class="form-content">
        <div class="container-fluid">
            <form method="POST" id="logInForm" data-toggle="validator" data-focus="false">
                {% csrf_token %}
                <div class="row justify-content-center"> 
                    <div class="col-lg-5 col-xl-5 notes_col">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="h3 control-label col-md-5 margin_label">Press Release Notes</label>
                                    <div class="col-md-auto fields">
                                        <div class="input-group">
                                            <input type="text" name="pr_details" class="form-control addl_notes" maxlength="200" placeholder = "Added 500 customers in the past year..."/>
                                            <div class="input-group-append">
                                                <button class="btn btn-success add-field fixed-width newsletter_note addl_notes" id="basic-addon">+</button>
                                            </div>
                                        </div>
                                        <span class="help-block" id="help-block">Max 10 notes, 200 characters each - less is more!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-lg-5 col-xl-5 notes_col">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="h3 control-label col-md-5 margin_label">Company Description</label>
                                    <div class="col-md-auto fields2">
                                        <div class="input-group">
                                            <input type="text" name="company_description" class="form-control addl_notes2" maxlength="200" placeholder = "Acme Inc. is a multinational corporation serving..."/>
                                            <div class="input-group-append">
                                                <button class="btn btn-success add-field2 fixed-width newsletter_note addl_notes2" id="basic-addon">+</button>
                                            </div>
                                        </div>
                                        <span class="help-block" id="help-block2">Max 5 descriptions, 200 characters each - less is more!</span>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row justify-content-center">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary next-step submit_notes">Generate Text</button>
                    </div>
                </div> <!-- end of row -->
                <div class="row justify-content-center">
                    <div class="help-block with-errors">
                        <p style="color: grey">Uses 1 generation credit. Credits left: {{credits}}</p>
                        {% if error %}
                            <b><p style="color: grey">{{ error }}</p></b>
                        {% endif %}
                    </div>
                </div>
            </form> <!-- end of form -->
            <div class="row justify-content-center">
                <div class="col-lg-7 col-xl-7 texteditor_col">
                        <textarea id="txtEditor"></textarea>
                </div><!-- end of col -->
            </div>
        </div> <!-- end of container -->
    </div> <!-- end of form content -->
{% endblock %}

{% block scripts %}
{{ block.super }}
    <script src="{% static 'js/editor.js' %}"></script> <!-- Text Editor -->
{% endblock %}

