{% extends "base.html" %}
{% load static %}


{% block css %}
    <link href= "{% static 'css/editor.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block app %}
{% endblock %}

{% block content %}

<!-- Header -->
<header id="header" class="header">
    <div class="header-content-app">

    </div> <!-- end of header-content -->
</header> <!-- end of header -->
    <!-- end of header -->

<div class="form-content" style="padding-bottom:50px;">
    <div class="container">
        <form id="text_input" data-toggle="validator" data-focus="false">
            <div class="row justify-content-center" style="padding-top:15px;">
                <div class = "col-sm-10">
                    <div class="form-box d-flex align-items-center">
                        <label class="h3 control-label col-md-8 margin_label">Company Description</label>
                        <textarea name="company_description" class="form-control addl_notes2 custom-editor" maxlength="1000" placeholder = "Acme Inc. is a multinational corporation serving..."/></textarea>
                        <span class="help-block" id="help-block">Max 1000 characters</span>
                        <br>
                        <label class="h3 control-label col-md-8 margin_label">Press Release Notes</label>
                        <textarea name="pr_details" class="form-control addl_notes custom-editor" maxlength="300" placeholder = "Added 500 customers in the past year..."></textarea>
                        <span class="help-block" id="help-block">Max 300 characters</span>
                        <button id="generate-btn" class="btn btn-primary next-step submit_notes"{% if disabled %} disabled {%endif%}>Generate Text</button>
                        <div class="help-block with-errors">
                                {% if disabled %}
                                    <p style="color: red">Out of generation credits. Increase your plan or contact support.</p>
                                {% else %}
                                    <p id="credits_left" style="color: grey">Uses 1 generation credit. Credits left: {{credits}}</p>
                                {% endif %}
                                {% if error %}
                                    <b><p style="color: grey">{{ error }}</p></b>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form> <!-- end of form -->

        <div class="row justify-content-center" style="padding-top:20px;">
            <div class="col d-flex justify-content-center">
                    <textarea id="txtEditor" class="custom-editor" placeholder="Your content will appear here..."></textarea>
            </div><!-- end of col -->
        </div>
    </div> <!-- end of container -->
</div> <!-- end of form content -->
{% endblock %}

{% block scripts %}
{{ block.super }}
    <!--<script src="{% static 'js/editor.js' %}"></script>  Text Editor -->\
    <script src="{% static 'js/textgen.js' %}"></script> <!-- Text API Stuff -->
{% endblock %}

